*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(237, 195, 195, 0.963);
    color: #333;
}
.navbar{
    background: #6a3105f4;
    color: white;
    width: 100%;
    
}
.container{
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     height: 3.5rem;

}
.logo{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: blue;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li{
    margin-left: 30px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}